<div *ngIf="isLoading" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>

<div class="header mt-3 d-flex justify-content-between">
  <p class="p-3 px-4 lead">{{headerText | translate}}</p>
  <div class="action mx-3">
    <div class="d-flex flex-wrap">
      <!-- <button (click)="changesettings(1)" type="button" class="btn btn-sm text-white accion_stone my-1">{{ 'security.changePassword' | translate }}</button> -->
      <button (click)="changesettings(2)" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">{{ 'security.changePin' | translate }}</button>
      <!-- <button (click)="changesettings(3)" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">{{ 'security.changeSecurityQuestion' | translate }}</button> -->
    </div>
  </div>
</div>


<div id="reset" style="background-color: rgb(168, 168, 224);" class="d-flex justify-content-center align-items-center mt-3">
  
  
  


  <mat-card class="example-card">
    <!-- <button class="float-right " mat-button (click)="useLanguage('en')">en</button><p class="float-right ">|</p>
    <button class="float-right " mat-button (click)="useLanguage('pt')">pt</button> -->
    <mat-card-header class="justify-content-center">
        <!-- <mat-card-title style="color: #006891;">{{ 'register.header' | translate }}</mat-card-title>  -->
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="resetForm">
        <div class="logo_container mt-1">
          <!-- <img 
          id="logo"
          src="../../../../assets/img/socremo.jpeg" 
          alt="accion"> -->
        </div>
          <div class="d-flex flex-column">
    
            <!--Change password-->
            <mat-form-field *ngIf="currentSetting == 1" appearance="outline">
              <mat-label>{{ 'security.enterOldPassword' | translate }}</mat-label>
              <input
               matInput [type]="hide ? 'password' : 'text' " formControlName="password" required>
              <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field *ngIf="currentSetting == 1" appearance="outline">
              <mat-label>{{ 'security.enterNewPassword' | translate }}</mat-label>
              <input
               matInput [type]="hide ? 'password' : 'text' " formControlName="password" required>
              <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field *ngIf="currentSetting == 1" appearance="outline">
              <mat-label>{{ 'security.confirmNewPassword' | translate }}</mat-label>
              <input
               matInput [type]="cHide ? 'password' : 'text' " formControlName="cpassword" required>
              <button mat-icon-button matSuffix (mouseup)="cHide = !cHide" (mousedown)="cHide = !cHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="cHide">
                <mat-icon>{{cHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
    
            
            <!--Change pin-->
            <mat-form-field *ngIf="currentSetting == 2" appearance="outline">
              <mat-label>{{ 'security.enterDefaultPin' | translate }}</mat-label>
              <input
               matInput [type]="hide ? 'password' : 'text' " formControlName="oldPin" required minlength="4" maxlength="4">
              <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field *ngIf="currentSetting == 2" appearance="outline">
              <mat-label>{{ 'security.enterNewPin' | translate }}</mat-label>
              <input
               matInput [type]="hide ? 'password' : 'text' " formControlName="newPin" required minlength="4" maxlength="4">
              <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field *ngIf="currentSetting == 2" appearance="outline">
              <mat-label>{{ 'security.confirmNewPin' | translate }}</mat-label>
              <input
               matInput [type]="cHide ? 'password' : 'text' " formControlName="cPin" required>
               <mat-error *ngIf="resetForm.controls['cPin'].pristine || resetForm.controls['cPin'].errors?.MatchPin">Pin does not match</mat-error>
              <button mat-icon-button matSuffix (mouseup)="cHide = !cHide" (mousedown)="cHide = !cHide"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="cHide">
                <mat-icon>{{cHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
           
            <!--Security question and answer-->
            <mat-form-field *ngIf="currentSetting == 3" appearance="outline">
              <mat-label>{{ 'security.selectSecurityQuestion' | translate }}</mat-label>
              <mat-select formControlName="securityQuetion">
                <mat-option>
                  What is your favourite colour
                </mat-option>
                <mat-option>
                  What is your pets name
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="currentSetting == 3" appearance="outline">
              <mat-label>{{ 'security.enterSecurityAnswer' | translate }}</mat-label>
              <input
               matInput type="text " formControlName="securityAnswer" required>
              <button mat-icon-button matSuffix >
              </button>
            </mat-form-field>
          </div>
        <div  class="d-flex justify-content-center">
          <button 
           value="Submit" 
           (click)="resetPassword(currentSetting)"
            class="btn text-white px-4 py-1 btn-sm my-4 accion_sand" 
           >{{action | translate}}
          </button>
        </div>
    
      </form>
    
    </mat-card-content>
    <mat-card-actions class="">
        <!-- <button style="background-color: #006891;" mat-button value="Submit" class="text-white" >{{ 'register.register' | translate }}</button> -->
        <!-- <button class="float-right text-white accion_sand" mat-button routerLink="/auth">{{ 'register.back' | translate }}</button> -->
    </mat-card-actions>
</mat-card>
</div>