<div *ngIf="!userData" class="loader_container">
  <div class="spinner">
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
  </div>
</div>
<section class="pb-4">
  <div class="header px-4 mt-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <mat-icon routerLink="/app/users" class="mt-1 mx-2 cursor_pointer text-white">arrow_back</mat-icon>
      <p class="lead pt-3 text-white">{{ 'users.back' | translate }}</p>
    </div>
    <div>
      <p class="lead pt-3 text-white">{{userData.name}}</p>
    </div>
    <!-- <ol class="breadcrumb pt-3 pb-0 m-0">
      <li class="breadcrumb-item"><a routerLink="/app/users">User Management</a></li>
      <li class="breadcrumb-item active" aria-current="page">User Detail</li>
    </ol> -->
  </div>
  <div class="card mx-4 mb-3 rounded-0 mt-3">
    <mat-list>
      <div class="d-flex justify-content-between ">
        <div class="subHeader" mat-subheader>{{ 'users.personalInformation' | translate }}</div>
        <button disabled (click)="openMessageDialog('single')" class="btn btn-sm text-white filter_btn mr-2 mb-3">{{ 'users.sendMessage' | translate }}</button>  
        <!-- <button (click)="openDialog(userData)" class="btn btn-sm btn-primary filter_btn mr-2 mb-3">Settings</button> -->
      </div>
      <mat-divider></mat-divider>

      <div class="row px-4 my-3 flex-wrap">
        <div class="col-4 px-2">
          <p class="font-weight-bold">{{ 'users.name' | translate }}</p>
          <p class="text_accion_stone">{{userData.name}}</p>
        </div>
        <div class="col-4 px-2">
          <p class="font-weight-bold">{{ 'users.fathersName' | translate }}</p>
          <p class="text_accion_stone">{{userData.fathersName}}</p>
        </div>
        <div class="col-4 px-2">
          <p class="font-weight-bold">{{ 'users.mothersName' | translate }}</p>
          <p class="text_accion_stone">{{userData.mothersName}}</p>
        </div>

        <!-- <div class="col-4 px-2">
          <p class="font-weight-bold">BVN</p>
          <p class="text_accion_stone">{{userData.bvn ? userData.bvn : 'N/A'}}</p>
        </div> -->
        <div class="col-4 px-2">
          <p class="font-weight-bold">{{ 'users.maritalStatus' | translate }}</p>
          <p class="text_accion_stone">{{userData.maritalStatus == 'S' ? 'Single' : 'Married'}}</p>
        </div>
        <div class="col-4 px-2">
          <p class="font-weight-bold">{{ 'users.placeOfBirth' | translate }}</p>
          <p class="text_accion_stone">{{userData.placeOfBirth}}</p>
        </div>
        <!-- <div class="col-4 px-2">
          <p class="font-weight-bold">State of Origin</p>
          <p class="text_accion_stone">London</p>
        </div> -->
        <!-- <div *ngIf="userData.personalInfo" class="col-4 px-2">
          <p class="font-weight-bold">Mother Maiden Name</p>
          <p class="text_accion_stone">{{userData.personalInfo.mothersmaidenName}}</p>
        </div> -->
        <div class="col-4 px-2">
          <p class="font-weight-bold">{{ 'users.gender' | translate }}</p>
          <p class="text_accion_stone">{{userData.sex == 'M'? 'Male' : 'Female'}}</p>
        </div>

        <div class="col-4 px-2">
          <p class="font-weight-bold">{{ 'users.birthdate' | translate }}</p>
          <p class="text_accion_stone">{{userData.birthdate}}</p>
        </div>

      
        <div class="col-6 px-2">
          <img [src]="userData.photoImage | authImage | async" alt="user profile picture">
        </div>


      </div>
    </mat-list>
  </div>

  <div class="card mx-4 mb-3 rounded-0">
    <mat-list>
      <div class="subHeader" mat-subheader>{{ 'users.contactInformation' | translate }}</div>
      <mat-divider></mat-divider>

      <div class="row px-4 mt-3 flex-wrap">

      <div class="col-4 px-2">
        <p class="font-weight-bold">{{ 'users.mobileNumber' | translate }}</p>
        <p class="text_accion_stone">{{userData.primaryTelephone}}</p>
      </div>
      <!-- <div *ngIf="userData.personalInfo && userData.personalInfo.secondaryPhoneNumber" class="col-4 px-2">
        <p class="font-weight-bold">Secondary Phone Number </p>
        <p class="text_accion_stone">{{userData.personalInfo.secondaryPhoneNumber}}</p>
      </div> -->
      <!-- <div class="col-4 px-2">
        <p class="font-weight-bold">Email</p>
        <p class="text_accion_stone">{{userData.emailAddress}}</p>
      </div> -->
      <div class="col-4 px-2">
        <p class="font-weight-bold">{{ 'users.countryCode' | translate }}</p>
        <p class="text_accion_stone">{{userData.countryCode1}}</p>
      </div>
      <div class="col-4 px-2">
        <p class="font-weight-bold">{{ 'users.countryOfResidence' | translate }}</p>
        <p class="text_accion_stone">{{userData.countryOfResidence}}</p>
      </div>
      <div class="col-4 px-2">
        <p class="font-weight-bold">{{ 'users.residenceCode' | translate }} </p>
        <p class="text_accion_stone">{{userData.residenceCode}}</p>
      </div>
      <!-- <div class="col-4 px-2">
        <p class="font-weight-bold">Email</p>
        <p class="text_accion_stone">{{userData.emailAddress}}</p>
      </div> -->

      <div class="col-4 px-2">
        <p class="font-weight-bold">{{ 'users.address' | translate }}</p>
        <p class="text_accion_stone">{{userData.address1}}</p>
      </div>

      <!-- <div class="col-4 px-2">
        <p class="font-weight-bold">Mailing Address</p>
        <p class="text_accion_stone">
          {{userData.contactInfo.mailAddress.streetNumber + ' ' + userData.contactInfo.mailAddress.streetName + ' ' + userData.contactInfo.mailAddress.city + ' ' + userData.contactInfo.mailAddress.lga + ' ' + userData.contactInfo.mailAddress.state | uppercase}}
        </p>
      </div> -->
    </div>

  </mat-list>
  </div>



  <!-- <div class="card mx-4 mb-3 rounded-0">
    <mat-list>
      <div class="subHeader" mat-subheader>Next of Kin Information</div>
      <mat-divider></mat-divider>

      <div class="row px-4 mt-3 flex-wrap">
        <div class="col-4">
          <p class="font-weight-bold">Name</p>
          <p class="text_accion_stone">
            {{userData.nextOfKinInfo.firstName + " " + userData.nextOfKinInfo.middleName + " " + userData.nextOfKinInfo.surName}}
          </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Gender</p>
          <p class="text_accion_stone"></p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Relationship</p>
          <p class="text_accion_stone"></p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Phone Number</p>
          <p class="text_accion_stone"></p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold"> Email Address </p>
          <p class="text_accion_stone">  </p>
        </div>
        <div  class="col-4">
          <p class="font-weight-bold"> Home Address </p>
          <p class="text_accion_stone"> </p>
        </div>

      </div>

    </mat-list>
  </div> -->



  <div class="card mx-4 mb-3 rounded-0">
    <mat-list>
      <div class="subHeader" mat-subheader>{{ 'users.accountInformation' | translate }}</div>
      <mat-divider></mat-divider>
      <div class="row px-4 mt-3 flex-wrap" *ngFor="let acc of userData.customerAccounts">
        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.accountType' | translate }}</p>
          <p class="text_accion_stone">{{acc.accountType}} </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.accountNumber' | translate }}</p>
          <p class="text_accion_stone">{{acc.accountNumber}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold"> {{ 'users.nib' | translate }}</p>
          <p class="text_accion_stone">{{ acc.nib}}</p>
        </div>
        <!-- <div class="col-4">
          <p class="font-weight-bold"> Wallet Ledger Balance</p>
          <p class="text_accion_stone">{{ userData.wallet ? userData.wallet.ledgerBalance/100 : '' }}</p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Last Transaction Date</p>
          <p class="text_accion_stone">{{userData.transactionsData.date | date }}</p>
        </div> -->
      </div>
    </mat-list>
  </div>



  <div class="card mx-4 mb-3 rounded-0">
    <mat-list>
      <div class="d-flex justify-content-between ">
        <div class="subHeader" mat-subheader>{{ 'users.loans' | translate }}</div>
        <button disabled (click)="openDialog(userData)" class="btn btn-sm btn-primary filter_btn mr-2 mb-3">{{ 'users.viewLoanDetails' | translate }}</button>
      </div>
      <mat-divider></mat-divider>
      <p *ngIf="userLoanData.length > 0" class="p-3">Total Loans: {{userLoanData.length}}</p>
      <div *ngFor="let item of userLoanData" class="row px-4 mt-3 flex-wrap">
        <div class="col-4">
          <p class="font-weight-bold">Loan Type</p>
          <p class="text_accion_stone"> {{item.loanType}} </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Loan Ref No</p>
          <p class="text_accion_stone"> {{item.contractNumber}} </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Loan Amount</p>
          <p class="text_accion_stone"> {{item.amount | number}} </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Approved Loan Amount</p>
          <p class="text_accion_stone"> {{item.approvedLoanAmount | number}} </p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">Loan Category</p>
          <p class="text_accion_stone"> {{item.category}} </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Customer ID</p>
          <p class="text_accion_stone"> {{item.customerId}}  </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Loan Start Date</p>
          <p class="text_accion_stone">{{ item.valueDate ? formatDate(item.maturityDate) : ""}} </p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Due Date</p>
          <p class="text_accion_stone">{{ item.maturityDate ? formatDate(item.maturityDate) : ""}} </p>
        </div>

    
        <div class="col-4">
          <p class="font-weight-bold">Draw Down Account</p>
          <p class="text_accion_stone"> {{item.drawDownAccount}} </p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">Loan Balance</p>
          <p class="text_accion_stone"> {{item.loanBalance}} </p>
        </div>

        <mat-divider class="w-100"></mat-divider>

      </div>
      <div *ngIf="userLoanData.length === 0" class="p-4">
        No Loan Application
      </div>
    </mat-list>
  </div>


  <!-- <div  class="card mx-4 mb-3 rounded-0">
    <mat-list>
      <div class="subHeader" mat-subheader>Employment Information</div>
      <mat-divider></mat-divider>

      <div class="row px-4 mt-3 flex-wrap">

        <div class="col-4">
          <p class="font-weight-bold">Place of Work</p>
          <p class="text_accion_stone"></p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Employment Status</p>
          <p class="text_accion_stone"></p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">Address of Place of Work</p>
          <p  class="text_accion_stone">
          </p>
        </div>
      </div>

    </mat-list>
  </div> -->

  <div  class="card mx-4 mb-3 rounded-0">
    <mat-list>
      <div class="subHeader" mat-subheader>{{ 'users.kycDocument' | translate }}</div>
      <mat-divider></mat-divider>

      <div class="row px-4 mt-3 flex-wrap">
        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.clientNumber' | translate }}</p>
          <p class="text_accion_stone">{{userData.clientNumber}} </p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.documentNumber' | translate }}</p>
          <p class="text_accion_stone">{{userData.documentNumber1}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.documentType' | translate }}</p>
          <p class="text_accion_stone">{{userData.documentType1}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.economicActivity' | translate }}</p>
          <p class="text_accion_stone">{{userData.economicActivity}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.entityNumber' | translate }}</p>
          <p class="text_accion_stone">{{userData.entityNumber}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.entityType' | translate }}</p>
          <p class="text_accion_stone">{{userData.entityType}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.expirationDate' | translate }}</p>
          <p class="text_accion_stone">{{userData.expirationDate1}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.issueDate' | translate }}</p>
          <p class="text_accion_stone">{{userData.issueDate1}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.issuingEntity' | translate }}</p>
          <p class="text_accion_stone">{{userData.issuingEntity1}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.nuit' | translate }}</p>
          <p class="text_accion_stone">{{userData.nuit}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.sectorCode' | translate }}</p>
          <p class="text_accion_stone">{{userData.sectorCode}}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.tier' | translate }}</p>
          <p class="text_accion_stone">{{userData.tier}}</p>
        </div>

        <!-- <div class="col-4">
          <p class="font-weight-bold">NIN Verified</p>
          <p class="text_accion_stone"></p>
        </div> -->

        <!-- <div  class="col-12 row">
          <h3 class="col-12 mt-5 font-weight-bold"> Proof of Address</h3>
          <div class="col-3 px-2">
            <p class="font-weight-bold">Bill Type</p>
            <p class="text_accion_stone"></p>
          </div>
          <div class="col-3 px-2">
            <p class="font-weight-bold">Reference Number</p>
            <p class="text_accion_stone"></p>
          </div>
          <div class="col-6 px-2">
            <img [src]="userData.proofOfAddress.url | authImage | async" alt="address proof">
          </div>
        </div> -->


      </div>

    </mat-list>
  </div>

  <div class="card mx-4 mb-3 rounded-0">
    <mat-list>
      <div class="subHeader" mat-subheader>{{ 'users.settings' | translate }}</div>
      <mat-divider></mat-divider>
      <div class="row px-4 mt-3 flex-wrap">
        <div class="col-4">
          <p class="font-weight-bold">{{ 'users.registrationDate' | translate }}</p>
          <p class="text_accion_stone">{{userData.createdAt |  date :'medium'  }}</p>
        </div>
        <!-- <div class="col-4">
          <p class="font-weight-bold">Channel Registered</p>
          <p class="text_accion_stone">{{ userData.channel }}</p>
        </div>

        <div class="col-4">
          <p class="font-weight-bold">Role</p>
          <p class="text_accion_stone">{{userData.role}}</p>
        </div> -->


        <!-- <div class="col-4 px-2">
          <p class="font-weight-bold">Last login</p>
          <p class="text_accion_stone">{{userData.lastLogin | date :'medium'}}</p>
        </div> -->

        <!-- <div class="col-4 px-2">
          <p class="font-weight-bold">Device Name</p>
          <p class="text_accion_stone"> N/A </p>
        </div>


        <div class="col-4 px-2">
          <p class="font-weight-bold">Device Model</p>
          <p class="text_accion_stone"> N/A </p>
        </div> -->
      
      </div>
    </mat-list>
  </div>

</section>