<!-- <div *ngIf="isLoadingResults" class="loader_container">
	<div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div> -->
<div *ngIf="isLoadingResults" class="col-12 d-flex justify-content-center p-5" >
	<mat-spinner [diameter]="25" ></mat-spinner>
</div>
<h2 mat-dialog-title class="text_accion_stone">{{ 'ticket.ticketDetail' | translate }}</h2>
<mat-dialog-content style="background-color: rgb(230, 240, 240);">
    <div class="card mx-4 mb-3 mt-3 rounded-0">
        <mat-list>
            <!-- <div class="subHeader font-weight-bold" mat-subheader>Type</div> -->
            <!-- <mat-divider></mat-divider> -->
            <div class="row px-4 mt-3 flex-wrap">
                <div class="col-4">
                    <p class="font-weight-bold">{{ 'ticket.customerName' | translate }}</p>
                    <p class="text_accion_stone">{{ticketDetails.customerName}} </p>
                </div>
                <div class="col-4">
                    <p class="font-weight-bold">{{ 'ticket.customerId' | translate }}</p>
                    <p class="text_accion_stone">{{ticketDetails.customerId}}</p>
                </div>

                <div class="col-4">
                    <p class="font-weight-bold"> {{ 'ticket.created' | translate }} </p>
                    <p class="text_accion_stone">{{ ticketDetails.createdAt | date: 'yyyy-MM-dd'}}</p>
                </div>

                <div class="col-4">
                    <p class="font-weight-bold">{{ 'ticket.updated' | translate }}</p>
                    <p class="text_accion_stone">{{ ticketDetails.updatedAt | date: 'yyyy-MM-dd'}}</p>
                </div>

                <div class="col-4">
                    <p class="font-weight-bold">{{ 'ticket.category' | translate }}</p>
                    <p class="text_accion_stone">{{ ticketDetails.category}}</p>
                </div>

				<div class="col-4">
                    <p class="font-weight-bold">{{ 'ticket.status' | translate }}</p>
                    <p class="text_accion_stone">{{ ticketDetails.status}}</p>
                </div>

				<div class="col-4">
                    <p class="font-weight-bold">{{ 'ticket.reference' | translate }}</p>
                    <p class="text_accion_stone">{{ ticketDetails.reference}}</p>
                </div>

                <div class="row px-4 mt-3 flex-wrap col-12">
					<h5  class="font-weight-500 text_accion_sand">{{ 'ticket.assigned' | translate }}</h5>
                        
					<table class="table table-bordered table-sm mt-3">
						<thead>
							<tr>
								<th scope="col">{{ 'ticket.name' | translate }}</th>
								<th scope="col">{{ 'ticket.officerId' | translate }}</th>
								<th scope="col">{{ 'ticket.date' | translate }}</th>
								<th scope="col">{{ 'ticket.action' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of ticketDetails.assigned;let i = index;">
								<td class="text_accion_stone">{{item.name}}</td>
								<td class="text_accion_stone">{{item.officerId}}</td>
								<td class="text_accion_stone">{{ item.dateTime | date: 'yyyy-MM-dd'}}</td>
								<td class="text_accion_stone">
									<button *ngIf="ticketDetails.status =='open' || ticketDetails.status =='processing'" (click)="closeTicket()" type="button" class="btn btn-sm mx-2 text-white my-1" style="background-color: rgb(218, 52, 52);">
										{{ 'ticket.closed' | translate }}
									</button>
									<button *ngIf="ticketDetails.status =='closed'" type="button" class="btn btn-sm mx-2 text-white my-1" style="background-color: rgb(35, 216, 96);">
										{{ 'ticket.open' | translate }}
									</button>
									<button *ngIf="ticketDetails.status =='open' || ticketDetails.status =='processing'" type="button" (click)="openDialog(item)" class="btn btn-sm mx-2 text-white my-1 accion_stone" >
										{{ 'ticket.comment' | translate }}
									</button>
									<!-- <button (click)="openActionDialog(problemDetail, item, 'update')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">
										{{ 'ticket.updateCategory' | translate }}
									</button> -->
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row px-4 mt-3 flex-wrap col-12">
					<h5  class="font-weight-500 text_accion_sand">Comments</h5>
                        
					<table class="table table-bordered table-sm mt-3">
						<thead>
							<tr>
								<th scope="col">{{ 'ticket.name' | translate }}</th>
								<th scope="col">{{ 'ticket.officerId' | translate }}</th>
								<th scope="col">{{ 'ticket.message' | translate }}</th>
								<th scope="col">{{ 'ticket.date' | translate }}</th>
								<!-- <th scope="col">{{ 'ticket.action' | translate }}</th> -->
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of ticketDetails.comments;let i = index;">
								<td class="text_accion_stone">{{item.name}}</td>
								<td class="text_accion_stone">{{item.officerId}}</td>
								<td class="text_accion_stone">{{item.message}}</td>
								<td class="text_accion_stone">{{ item.dateTime | date: 'yyyy-MM-dd'}}</td>
								<!-- <td class="text_accion_stone">
									
									<button (click)="openActionDialog(problemDetail, item, 'update')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">
										{{ 'ticket.updateCategory' | translate }}
									</button>
								</td> -->
							</tr>
						</tbody>
					</table>
				</div>
            </div>
        </mat-list>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
    <div>
        <button type="button" (click)="assignTicket()" class="btn btn-sm mx-2 text-white accion_stone my-1">
            {{ 'ticket.assign' | translate }}
        </button>
        <!-- <button (click)="openActionDialog2(problemDetail, 'add')" type="button"
            class="btn btn-sm mx-2 text-white accion_stone my-1">
            {{ 'ticket.addNewCategory' | translate }}
        </button>
        <button (click)="openActionDialog2(problemDetail, 'type')" type="button"
            class="btn btn-sm mx-2 text-white my-1" style="background-color: rgb(218, 52, 52);">
            {{ 'ticket.deleteType' | translate }}
        </button> -->
        <!-- <button (click)="openActionDialog(problemDetail, 'category')" type="button"
            class="btn btn-sm mx-2 text-white accion_stone my-1">
            Delete Category
        </button> -->
    </div>
    <button mat-button mat-dialog-close (click)="close()">{{ 'ticket.cancel' | translate }}</button>
</mat-dialog-actions>





















<!-- <h2 mat-dialog-title class="text_accion_stone"> Ticket Details </h2>
<mat-dialog-content class="app_version mat-typography">
	<form  [formGroup]="settingsForm" class="row w-100 px-5 py-2">

        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Security Question</mat-label>
            <mat-select formControlName="secQst">
              <mat-option *ngFor="let item of securityQuestions" [value]="item.key">
                {{item.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

		<mat-form-field class="col-12" appearance="outline">
			<mat-label>Comments</mat-label>
			<input formControlName="secAns" matInput type="text">
		</mat-form-field>

        <mat-form-field class="col-12" appearance="outline">
			<mat-label>Response</mat-label>
			<input formControlName="secAns" matInput type="text">
		</mat-form-field>

		<mat-form-field class="col-12" appearance="outline">
			<mat-label>Enter Pin</mat-label>
			<input formControlName="pin" matInput type="number">
		</mat-form-field>
	</form>

	<div *ngIf="isLoading" class="col-12 d-flex justify-content-center p-5" >
		<mat-spinner [diameter]="25" ></mat-spinner>
	</div>

</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
	<div >
		<button (click)="submit()" class="btn btn-sm text-white accion_stone">Submit</button>
	</div>
	<button mat-button mat-dialog-close (click)="close()">Cancel</button>
</mat-dialog-actions> -->