<div *ngIf="isLoadingResults" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>

<section>
  <div class="header mt-3 bg-white d-flex justify-content-between align-items-center pr-3">
    <p class="pt-3 px-4 lead">View Agents</p>
    <button (click)="openDialog()" class="btn btn-sm text-white filter_btn">Add Agents</button>
</div>

  <form [formGroup]="transactionFilterForm" class="filter mx-3">
    <mat-card class="m-3 p-0 pt-3 px-3 pb-2">
      <h5 class="font-weight-bold">Filter/Sort by</h5>
      <div class="d-flex flex-wrap">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input formControlName="startDate" matInput [max]="maxDate" [matDatepicker]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End date</mat-label>
          <input formControlName="endDate" matInput [max]="maxDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Agent Username</mat-label>
          <input [value]="this.transactionFilterForm.value.transactionReference" formControlName="transactionReference" matInput type="text">
          <button mat-button *ngIf="this.transactionFilterForm.value.transactionReference" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.transactionFilterForm.value.transactionReference=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Business Name</mat-label>
          <input [value]="this.transactionFilterForm.value.transactionReference" formControlName="transactionReference" matInput type="text">
          <button mat-button *ngIf="this.transactionFilterForm.value.transactionReference" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.transactionFilterForm.value.transactionReference=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input [value]="this.transactionFilterForm.value.transactionReference" formControlName="transactionReference" matInput type="text">
          <button mat-button *ngIf="this.transactionFilterForm.value.transactionReference" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.transactionFilterForm.value.transactionReference=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      
       
        <button (click)="search()" class="btn btn-sm text-white filter_btn">Filter</button>
      </div>


    </mat-card>

  </form>
  <div class="action mx-3">
    <mat-card class="px-3 py-3 mx-3">
      <h5 class="font-weight-bold">Action</h5>
      <div class="d-flex flex-wrap">
        <button (click)="exportTable('pdf')" type="button" class="btn btn-sm text-white accion_stone my-1">Export
          PDF</button>
        <button (click)="exportTable('xlsx')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">Export
          Excel</button>
        <button (click)="exportTable('csv')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Export
          CSV</button>
        <button (click)="exportTable('png')" type="button"
          class="btn btn-sm mx-2 text-white accion_sand my-1">PNG</button>
        <!-- <button type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Print</button> -->

      </div>
    </mat-card>


  </div>

  <div class="table_display mx-3">
    <div class=" mat-elevation-z8">
      <div id="agent_table" class="table-container" [ngStyle]="{'max-height.px': tableContainerHeight}">
        <table 
        mat-table
       [dataSource]="dataSource"
       multiTemplateDataRows
       class="mat-elevation-z8">

       <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> S/N </th>
        <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th disableClear mat-header-cell *matHeaderCellDef> Agent ID </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>

      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="businessName">
        <th mat-header-cell *matHeaderCellDef> Business Name </th>
        <td mat-cell *matCellDef="let element"> {{element.businessName}} </td>
      </ng-container>

      <ng-container matColumnDef="terminalID">
        <th mat-header-cell *matHeaderCellDef> Terminal ID </th>
        <td mat-cell *matCellDef="let element"> {{element.terminalID ? element.terminalID : 'N/A' }} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.businessPhone }} </td>
      </ng-container>

      <ng-container matColumnDef="history">
        <th mat-header-cell *matHeaderCellDef> Transaction History </th>
        <td mat-cell *matCellDef="let element"> 
          <button (click)="viewAgentHistory(element)" class="btn btn-sm text-white accion_sand smaller_text">View History</button>  
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openAssignTerminalModal(element)" class="btn btn-sm success smaller_text">Assign Terminal</button>  
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date Created </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'medium'}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Activation Code </th>
        <td mat-cell *matCellDef="let element"> 
          <span *ngIf="element.code">{{element.code }}</span>
          <button *ngIf="!element.code" class="btn btn-sm btn-primary smaller_text">Generate </button>  
        </td>
      </ng-container> -->


  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element; let i = index;" [attr.colspan]="columnsToDisplay.length">
      <div class="transaction-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <div class="row px-4 mt-3 flex-wrap w-100">
            
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold">Full Name: </p>
              <p class="text_accion_stone">{{element.fullName}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> BVN </p>
              <p class="text_accion_stone">{{element.bvn}}</p>
            </div>

            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Email Address </p>
              <p class="text_accion_stone">{{element.emailAddress}}</p>
            </div>

            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Gender </p>
              <p class="text_accion_stone">{{element.gender === "M" ? 'Male' : 'Female'}}</p>
            </div>

            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Account Name </p>
              <p class="text_accion_stone">{{element.accountName}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Bank: </p>
              <p class="text_accion_stone">{{element.bank}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Account Number: </p>
              <p class="text_accion_stone">{{element.accountNumber}}</p>
            </div>
            
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold">Business Address </p>
              <p class="text_accion_stone">{{element.businessAddress}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold">Business State </p>
              <p class="text_accion_stone">{{element.businessState}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Business LGA </p>
              <p class="text_accion_stone">{{element.businessLGA}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Date of Birth </p>
              <p class="text_accion_stone">{{element.dateOfBirth | date}}</p>
            </div>

            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Balance </p>
              <p class="text_accion_stone">{{element.wallet.balance / 1000 | number }}</p>
            </div>

            <div class="col-6 col-md-2 mx-2">
              <p class="font-weight-bold"> Ledger Balance </p>
              <p class="text_accion_stone">{{element.wallet.ledgerBalance / 1000 | number }}</p>
            </div>


            
           </div>
      </div>
    </td>
  </ng-container>

  <tr  mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="transaction-row cursor_pointer"
      [class.transaction-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data
    </td>
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="transaction-detail-row"></tr>
</table>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <mat-spinner *ngIf="isLoadingResults" [diameter]="20"></mat-spinner>
        <mat-paginator 
        [pageSizeOptions]="[10, 25, 50, 100, 1000]" 
        [pageIndex]="0"
        [length] = "maxall"
        (page)="onPageFired($event)"
        showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</section>