<div id="otp" class="d-flex justify-content-center align-items-center">
  <form [formGroup]="otpForm">
    <div class="logo_container">
      <img 
      id="logo"
      src="../../../../assets/img/logo.png" 
      alt="accion">
    </div>
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Enter your mobile number</mat-label>
          <input matInput placeholder="080xxxxxxxx" formControlName="mobileNumber" required>
        </mat-form-field>
      
      </div>
    <div  class="d-flex justify-content-center">
      <button 
       (click)="getOTP()"
        class="btn text-white px-4 py-1 btn-sm my-4 accion_sand" 
       >Get Code</button>
    </div>
    <a  [routerLink]="['/auth','login']" class="mt-2" >Go Back</a>
  </form>

  <div *ngIf="loading" class="loader_container">
    <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
  </div>

</div>