<div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content">
        <div class="p-0 m-0">
          <div class="header ">
            <mat-toolbar class="bg-white">
              <button type="button" class="btn btn-sm text-white accion_stone my-1 mb-3" (click)="useLanguage('en')">en</button>&nbsp;
              <button type="button" class="btn btn-sm text-white accion_stone my-1 mb-3" (click)="useLanguage('pt')">pt</button>&nbsp;
              <span class="example-spacer"></span>
              <p>{{ 'nav.welcome' | translate }} {{userName}}</p>
              <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon favorite-icon">
                <mat-icon>face</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="handleUserLogout()" mat-menu-item>{{ 'nav.logout' | translate }}</button>
              </mat-menu>

            </mat-toolbar>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>