<div *ngIf="isLoadingResults" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>

<section >
  <div class="header mt-3 text-white d-flex justify-content-between align-items-center pr-3">
    <p class="p-3 px-4 lead">{{ 'users.headerText' | translate }}</p>
    <button disabled (click)="openDialog('all')" class="btn btn-sm text-white filter_btn">{{ 'users.broadcast' | translate }}</button>  
</div>

<!-- <div class="header px-4 mt-3 d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <p class="p-3 px-4 lead text-white">{{ 'users.headerText' | translate }}</p>
  </div>
  <div class="">
    <button type="button" class="btn btn-sm text-white accion_stone my-1" (click)="useLanguage('en')">en</button>&nbsp;
    <button type="button" class="btn btn-sm text-white accion_stone my-1" (click)="useLanguage('pt')">pt</button>
  </div>
</div> -->
 

  <form class="filter mx-3" [formGroup]="userFilterForm">
    <mat-card class="m-3 p-0 pt-3 px-3 pb-2">
      <h5 class="font-weight-bold">{{ 'users.filterHeader' | translate }}</h5>
      <div class="d-flex flex-wrap">
        <mat-form-field
        appearance="outline">
          <mat-label>{{ 'users.startDate' | translate }}</mat-label>
          <input formControlName="startDate" matInput [max]="maxDate" [matDatepicker]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'users.endDate' | translate }}</mat-label>
          <input formControlName="endDate" matInput [max]="maxDate" [matDatepicker]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Account Type</mat-label>
          <mat-select formControlName="accountType">
            <mat-option *ngFor="let item of allAccountType" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="outline">
          <mat-label>Customer Status</mat-label>
          <mat-select formControlName="customerStatus">
            <mat-option *ngFor="let item of allCustomerStatus" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>{{ 'users.customerName' | translate }}</mat-label>
          <input [value]="this.userFilterForm.value.customerName" formControlName="customerName" matInput type="text">
          <button mat-button *ngIf="this.userFilterForm.value.customerName" matSuffix mat-icon-button aria-label="Clear"
          (click)="this.userFilterForm.value.customerName=''">
          <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'users.mobileNumber' | translate }}</mat-label>
          <input [value]="this.userFilterForm.value.mobileNumber" formControlName="mobileNumber" matInput type="text">
          <button mat-button *ngIf="this.userFilterForm.value.mobileNumber" matSuffix mat-icon-button aria-label="Clear"
          (click)="this.userFilterForm.value.mobileNumber=''">
          <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>BVN</mat-label>
          <input [value]="this.userFilterForm.value.bvn" formControlName="bvn" matInput type="text">
          <button mat-button *ngIf="this.userFilterForm.value.bvn" matSuffix mat-icon-button aria-label="Clear"
          (click)="this.userFilterForm.value.bvn=''">
          <mat-icon>close</mat-icon>
        </button>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="outline">
          <mat-label>Account Number</mat-label>
          <input [value]="this.userFilterForm.value.accountNumber" formControlName="accountNumber" matInput type="text">
          <button mat-button *ngIf="this.userFilterForm.value.accountNumber" matSuffix mat-icon-button aria-label="Clear"
          (click)="this.userFilterForm.value.accountNumber=''">
          <mat-icon>close</mat-icon>
        </button>
        </mat-form-field> -->
        <button 
        (click)="search()"
        class="btn btn-sm text-white filter_btn"
         >{{ 'users.filter' | translate }}</button>
      </div>


    </mat-card>

  </form>
  <div class="action mx-3">
    <mat-card class="px-3 py-3 mx-3">
      <h5 class="font-weight-bold">{{ 'users.action' | translate }}</h5>
      <div class="d-flex flex-wrap">
        <button (click)="exportTable('pdf')" type="button" class="btn btn-sm text-white accion_stone my-1">{{ 'users.exportPdf' | translate }}</button>
        <button (click)="exportTable('xlsx')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">{{ 'users.exportExcel' | translate }}</button>
        <button (click)="exportTable('csv')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">{{ 'users.exportCsv' | translate }}</button>
        <button (click)="exportTable('png')" type="button"
          class="btn btn-sm mx-2 text-white accion_sand my-1">{{ 'users.exportPng' | translate }}</button>
        <!-- <button type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Print</button> -->
      </div>
    </mat-card>
    

  </div>

  <div class="table_display mx-3">

    <div class=" mat-elevation-z8">      
      <div id="userlist_table"  class="table-container p-0">
      <table 
      mat-table 
      [dataSource]="dataSource" 
      class="mat-elevation-z8">
      
        <ng-container matColumnDef="position">
          <th  mat-header-cell *matHeaderCellDef> S/N </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
      
        <!-- <ng-container matColumnDef="id">
          <th disableClear mat-header-cell *matHeaderCellDef> {{ 'users.customerId' | translate }} </th>
          <td  mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container> -->

        <ng-container matColumnDef="name">
          <th disableClear mat-header-cell *matHeaderCellDef> {{ 'users.name' | translate }} </th>
          <td  mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> {{ 'users.lastName' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container> -->
    
        <ng-container matColumnDef="primaryTelephone">
          <th mat-header-cell *matHeaderCellDef> {{ 'users.mobileNumber' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.primaryTelephone}} </td>
        </ng-container>
    
        <ng-container matColumnDef="maritalStatus">
          <th mat-header-cell *matHeaderCellDef> {{ 'users.maritalStatus' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.maritalStatus}} </td>
        </ng-container>
    
        <ng-container matColumnDef="nationality">
          <th mat-header-cell *matHeaderCellDef> {{ 'users.nationality' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
        </ng-container>

        <ng-container matColumnDef="countryOfResidence">
          <th mat-header-cell *matHeaderCellDef> {{ 'users.countryOfResidence' | translate }} </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.accountNumber.length ? element.accountNumber[0] : '' }} </td> -->
          <td mat-cell *matCellDef="let element"> {{element.countryOfResidence }} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="lastLogin">
          <th mat-header-cell *matHeaderCellDef> Last Login </th>
          <td mat-cell *matCellDef="let element">  {{ element.lastLogin | date :'medium' }}  </td>
        </ng-container> -->
       
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> {{ 'users.date' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{ element.createdAt | date :'medium' }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" class="action-link"> 
            <!-- <a (click)="openDialog('Update',element)">Edit</a>  -->
            <a  (click)="openKycTierModal()" style="padding-right:5px;">
              <mat-icon aria-hidden="false" aria-label="Example edit icon">edit </mat-icon></a>
            
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor_pointer" [routerLink]="['details', row.primaryTelephone]"></tr>
      
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"> 
           No data
          </td>
        </tr>
      </table>
    </div>
   <div class="d-flex justify-content-end align-items-center">
    <mat-spinner *ngIf="isLoadingResults" [diameter]="20"></mat-spinner>
    <mat-paginator 
    [pageSizeOptions]="[10, 25, 50, maxall]"  
    [length] = "maxall"
    (page)="onPageFired($event)"
    showFirstLastButtons
    ></mat-paginator>  
   </div>
    </div>
  </div>
</section>