<div *ngIf="isLoading" class="loader_container">
    <div class="spinner">
          <div class="spinner-item"></div>
          <div class="spinner-item"></div>
          <div class="spinner-item"></div>
          <div class="spinner-item"></div>
          <div class="spinner-item"></div>
      </div>
  </div>

<body class="inventory-body">
    <div class="register-page">
        <div class=" px-4 d-flex justify-content-between align-items-center">
            
            
          </div> 
        <div id="register" style="background-color: rgb(168, 168, 224);" class="d-flex justify-content-center align-items-center">
    
            <mat-card class="example-card mt-3 mb-3">
                <!-- <button class="float-right " mat-button (click)="useLanguage('en')">en</button><p class="float-right ">|</p>
                <button class="float-right " mat-button (click)="useLanguage('pt')">pt</button> -->
                <mat-card-header class="justify-content-center">
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title style="color: #006891;">{{ 'register.header' | translate }}</mat-card-title> 
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <form [formGroup]="registerForm">
                        <div class="d-flex flex-column">
                            <div class="row">
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.firstName' | translate }}</mat-label>
                                    <input matInput placeholder="" formControlName="firstName" required>
                                </mat-form-field>
                                
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.lastName' | translate }}</mat-label>
                                    <input matInput placeholder="" formControlName="lastName" required>
                                </mat-form-field>
                            </div>
                
                            <div class="row">
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="sex" required>
                                        <mat-option *ngFor="let gender of genders" [value]="gender.id">
                                        {{gender.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.dob' | translate }}</mat-label>
                                    <input matInput placeholder="" formControlName="birthdate" required [max]="maxDate" [matDatepicker]="birthdate">
                                    <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
                                    <mat-datepicker #birthdate></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="" formControlName="username" required>
                                </mat-form-field>
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>Role</mat-label>
                                    <mat-select formControlName="role" required>
                                        <mat-option *ngFor="let role of roles" [value]="role._id">
                                        {{role.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>Role</mat-label>
                                    <input matInput placeholder="" formControlName="role" required>
                                </mat-form-field> -->
                            </div>
        
                            <!-- <div class="row">
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="" formControlName="username" required>
                                </mat-form-field>
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>Pin</mat-label>
                                    <input matInput placeholder="" formControlName="pin" required>
                                </mat-form-field>
                            </div> -->
                    
                            <!-- <div class="row">
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.password' | translate }}</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text' " formControlName="password" autocomplete="on"
                                        required>
                                    <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.confirmPassword' | translate }}</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text' " formControlName="confirmPassword" autocomplete="on"
                                        required>
                                    <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div> -->
                    
                            <div class="row">
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.pin' | translate }}</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text' " formControlName="loginPin" autocomplete="on"
                                        required minlength="4" maxlength="4">
                                    <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.confirmPin' | translate }}</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text' " formControlName="confirmPin" autocomplete="on"
                                        required>
                                        <mat-error *ngIf="registerForm.controls['confirmPin'].pristine || registerForm.controls['confirmPin'].errors?.MatchPassword">Pin does not match</mat-error>
                                        <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                    
                            <div class="row">
                                <!-- <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.securityQuestion' | translate }}</mat-label>
                                    <input matInput placeholder="" formControlName="securityQuestion" required>
                                </mat-form-field> -->
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.securityQuestion' | translate }}</mat-label>
                                    <mat-select formControlName="securityQuestion" required>
                                        <mat-option *ngFor="let question of securityQuestions" [value]="question.key">
                                        {{question.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="col-md-6" appearance="outline">
                                    <mat-label>{{ 'register.securityAnswer' | translate }}</mat-label>
                                    <input matInput placeholder="" formControlName="securityAnswer" required>
                                </mat-form-field>
                            </div>
                        </div>
        
                        
                        <!-- <div class="d-flex justify-content-center container-login100-form-btn">
                            <button value="Submit" (click)="login()" class="btn text-white px-4 py-1 btn-sm my-4 accion_sand"
                                (keyup.enter)="login()">Login</button>
                        </div> -->
                
                        <!-- <div class="d-flex justify-content-center container-login100-form-btn">
                            <span class="link-font" routerLink="/auth">Back</span>
                        </div> -->             
                    </form>
                
                </mat-card-content>
                <mat-card-actions class="">
                    <button style="background-color: #006891;" mat-button (click)="createNewAdmin()" value="Submit" class="float-right text-white" >{{ 'register.register' | translate }}</button>
                    <!-- <button class="float-right text-white accion_sand" mat-button routerLink="/auth">{{ 'register.back' | translate }}</button> -->
                </mat-card-actions>
            </mat-card>
              
        </div>
    </div>
</body>

<!-- translation with parameters: translation pipe -->
<!-- <p>{{ 'register.greeting' | translate:{'name':'Andreas'} }}</p> -->

<!-- translation: directive (key as attribute) -->
<!-- <p [translate]="'register.greeting'" [translateParams]="{name: 'Andreas'}"></p> -->

<!-- translation: directive (key as content of element)-->
<!-- <p translate [translateParams]="{name: 'Andreas'}">register.greeting</p> -->
<!-- <button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('pt')">pt</button>  -->