// #register {
//     margin-top: 5%;
// }
#register {
    min-height: 100vh;
    form {
        min-width: 25vw;
    }
}

.header {
    background-color: #0b81cf;
}

// .inventory-body {
//     position: fixed;
//     min-width: 100%;
//     background-image: url('../../../../assets/img/admin3.jpg');
//     background-repeat: no-repeat;
//     background-size: 100%;
//     background-position: center;
//     background-size: cover;
// }