<div id="dashboard_page">
  <div class="header mt-3 bg-white">
    <p class="p-3 lead">Agency Banking</p>
  </div>
  <div id="dashboard" class="mt-3 ml-5">
    <div class="row mr-2">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 pl-0 mb-2" *ngFor="let key of Object.keys(dashboardTabs)">
        <div class="dashboardTab bg-white d-flex flex-column align-items-end p-3">

          <h3 class="font-weight-bolder p-0 m-0 text_accion_stone"> {{dashboardTabs[key].title}}</h3>

          <div class="d-flex justify-content-between w-100">
            <div class="icon_container">
              <mat-icon>{{dashboardTabs[key].icon}}</mat-icon>
            </div>
            <p class="headingText text_accion p-0">
              {{ dashboardTabs[key].title.includes('Value') ? '₦' + (dashboardTabs[key].volume | number) : dashboardTabs[key].title.includes('Wallet') ? '₦' + (dashboardTabs[key].volume | number) :  (dashboardTabs[key].volume | number)}}
            </p>
          </div>
          <div>
            <small *ngFor="let item of dashboardTabs[key].breakdown" class="text_accion"> {{item.title}}
              {{ dashboardTabs[key].title.includes('Value') ? '₦' +(item.count | number) : (item.count | number)}}
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4 graph_section">
     

      <div class="col-sm-12 col-md-5 pl-0">
        <div class="bg-white mt-3 mb-3 px-0">
          <div class="col-12 pt-3">
            <h3 class="py-2 mb-0 text_accion font-weight-bolder w-100 my-4 text-uppercase">Transaction types</h3>
          </div>
          <div class="mb-4">
            <div class="col-12 mt-3 d-md-flex justify-content-between my-3 px-2">
              <mat-form-field style="max-width: 150px;" class="col-12 col-md-3 mb-3" *ngIf="!lineChartLoading">
                <mat-label>Choose Date By</mat-label>
                <mat-select (selectionChange)="handleDateRangeSelection($event)" value="month">
                  <mat-option value="day">
                    Day range
                  </mat-option>
                  <mat-option value="month">
                    Month range
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <form class="col row d-flex justify-content-sm-center justify-content-md-end px-0 pr-4"
                [formGroup]="dateForm">
                <div class="col-sm-12 col-md-9 d-flex justify-content-sm-center justify-content-md-end px-0">
                  <mat-form-field class="date_input mr-2">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startDate" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                  </mat-form-field>
  
                  <mat-form-field class="date_input">
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="endDate" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <button class="col-sm-12 col-md-2 btn btn-sm accion_stone p-0 m-0 px-2 mt-2 ml-3 text-white fetch_btn"
                  (click)="fetchTransactionValueVolumeData()">
                  Fetch
                </button>
              </form>
            </div>
            <div *ngIf="!displayChart" class="d-flex justify-content-center mt-3 mb-4"
              style="font-weight: bold; font-family: Roboto,serif; font-size: 20px;">
              {{nodata}}
            </div>
            <div class="chart" *ngIf="displayChart">
              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [plugins]="pieChartPlugins" [options]="pieChartOptions" [colors]="pieChartColors"
                [legend]="pieChartLegend">
              </canvas>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-5 col-md-3 pl-0">
        <div class="bg-white pb-4">
          <div>
            <h3 class="text-center mb-0 text_accion font-weight-bolder w-100 my-3 pt-3 text-uppercase">Agent Overview</h3>
            <h5 class="py-2 mb-0 text_accion font-weight-bolder  w-100 text-center mt-4 text-uppercase">Top Performing Agents(Daily)
            </h5>
            <div class="d-flex justify-content-around">
              <p class="text-uppercase">Akinola </p>
              <p class="text-uppercase">₦5,000,000</p>
            </div>
            <div class="d-flex justify-content-around">
              <p class="text-uppercase">Akinola </p>
              <p class="text-uppercase">₦5,000,000</p>
            </div>
            <div class="d-flex justify-content-around">
              <p class="text-uppercase">Akinola </p>
              <p class="text-uppercase">₦5,000,000</p>
            </div>
          </div>
          <h5 class="w-100 text-center py-2 mb-0  text_accion font-weight-bolder w-100 mt-4 text-uppercase">Transaction
            Overview</h5>
          <div *ngFor="let key of Object.keys(dailyTransaction)">
            <p class="text-center mt-3 mb-0"> {{dailyTransaction[key].title}}</p>
            <div class="d-flex justify-content-center">
              <!-- <mat-icon class="daily_icon">{{dailyTransaction[key].icon}}</mat-icon> -->
              <p [class]="dailyTransaction[key].class">₦{{dailyTransaction[key].value | number}}</p>
              <p class="volume_text pb-0 mb-0"> ({{dailyTransaction[key].volume | number}})</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 pl-0 pr-4">
        <div class="mb-3 mt-3 mr-3">
          <div class="table-container mat-elevation-z8 bg-white">
            <p class="py-2 mb-0 text_accion font-weight-bolder w-100 text-uppercase text-center pt-3">Recently Onboard
              Agents</p>
            <table mat-table [dataSource]="loggedInUsersDataSource" class="w-100">
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{element.firstName}} </td>
              </ng-container>
  
              <ng-container matColumnDef="currentLogin">
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.currentLogin | date :'short'}} </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="loggedInUsersColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: loggedInUsersColumns;"></tr>
  
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="4"> No data</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      
      <div style="min-height: 500px;" class="col-sm-12 col-md-7 mt-3 bg-white mb-3">
        <div class="mr-3 pb-3">
          <h4 class="py-2 mb-0 text_accion font-weight-bolder w-100 my-4 text-uppercase">Transaction Volume and Value
          </h4>
          <div class="col-12 mt-3 d-md-flex justify-content-between my-3 px-2">
            <mat-form-field style="max-width: 150px;" class="col-12 col-md-3 mb-3" *ngIf="!lineChartLoading">
              <mat-label>Choose Date By</mat-label>
              <mat-select (selectionChange)="handleDateRangeSelection($event)" value="month">
                <mat-option value="day">
                  Day range
                </mat-option>
                <mat-option value="month">
                  Month range
                </mat-option>
              </mat-select>
            </mat-form-field>

            <form class="col row d-flex justify-content-sm-center justify-content-md-end px-0 pr-4"
              [formGroup]="dateForm">
              <div class="col-md-9 col-sm-12 d-flex justify-content-end px-0">
                <mat-form-field class="date_input mr-2">
                  <mat-label>Start Date</mat-label>
                  <input matInput [matDatepicker]="barStartDate" formControlName="barStartDate">
                  <mat-datepicker-toggle matSuffix [for]="barStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #barStartDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="date_input">
                  <mat-label>End date</mat-label>
                  <input matInput [matDatepicker]="barEndDate" formControlName="barEndDate">
                  <mat-datepicker-toggle matSuffix [for]="barEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #barEndDate></mat-datepicker>
                </mat-form-field>
              </div>
              <button class="col-sm-12 col-md-2 btn btn-sm accion_stone p-0 m-0 px-2 mt-2 ml-3 text-white fetch_btn"
                (click)="fetchTransactionValueVolumeData()">
                Fetch
              </button>
            </form>
          </div>
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [colors]="barChartColors" [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 mb-3 pl-3 mb-5">
        <div class="table-container mat-elevation-z8 bg-white mr-3 mt-3">
          <p class="py-2 mb-0 font-weight-bolder text_accion w-100 text-uppercase text-center pt-3">Recent Transactions
          </p>
          <table mat-table [dataSource]="recentActivitiesDataSource" class="w-100">
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Transaction Type </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{element.action}} </td>
            </ng-container>

            <ng-container matColumnDef="firstName">
              <th disableClear mat-header-cell *matHeaderCellDef> Agent </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.updatedAt | date : 'short' }} </td>
            </ng-container>

            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef> Time </th>
              <td mat-cell *matCellDef="let element"> {{element.updatedAt | date : 'short' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedRecentActivitiesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRecentActivitiesColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" colspan="4"> No data</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>