<div *ngIf="loadingState" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>
<section>
  <div class="header mt-3 bg-white d-flex justify-content-between align-items-center pr-3">
    <p class="p-3 px-4 lead">Roles and Permission Management</p>
    <!-- <mat-slide-toggle color="primary" class="font-weight-bold" (change)="onPageToggle($event)">View Admins</mat-slide-toggle> -->

  </div>
  <div class="row mx-3">

    <div class="col-12 col-md-12">
      <div class="card  m-2">
        <div class="text-center mt-4">
          <h1>ADMINISTRATORS</h1>
          <p class="lead">Select an admin to assign role <a class="cursor_pointer text-primary" (click)="selectAdmin()">Click here</a></p>
        </div>

        <div *ngIf="showAdmins" class="row form-group col-12">
          <div class="col-sm-6 mb-3">
            <div>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let admin of allAdmin" [value]="admin.name" (change)="changeAdminName(admin.name)">
                  {{admin.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="adminId">
            <div class="col-sm-6">
              <small>select role to assign. Once done click the assign button</small>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let role of availableRoles; let i = index" [value]="role.name" (change)="changeRoleAssign(role.name)">
                  {{role.name}}
                </mat-radio-button>
              </mat-radio-group>
              <button *ngIf="adminId && roleId" (click)="assignUserRole()" class="btn btn-danger btn-sm"
                      [disabled]="!roleId">
                      Assign
                    </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 col-md-3">
      <div class="card  m-2">
        <div class="text-center mt-4">
          <h1>RESOURCES</h1>
          <p class="lead">Create, Edit and Delete Resource(s)</p>
        </div>

        <div class="my-3 d-flex justify-content-center">
          <!-- <button (click)="handleResourceButtonClicked('createResource')" type="button" class="btn btn-sm text-white accion m-1">
            Create resources
          </button> -->
          <button (click)="handleResourceButtonClicked('editResource')" *ngIf="availableResource && availableResource.length > 0" type="button"
            class="btn btn-sm text-white accion_sand m-1">
            Edit resources
          </button>
          <button (click)="getRoles('deleteResource')" *ngIf="availableResource && availableResource.length > 0" type="button"
            class="btn btn-sm text-white accion_stone m-1">
            Delete resources
          </button>
        </div>

        <div class="mb-3 p-3">
          <!-- <div class="mb-2">
            <div class="lead">Available resource</div>
          </div> -->

          <div *ngIf="!availableResource">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div *ngIf="!availableResource">
              <div>You are yet to create a resource</div>
          </div>

          <!-- <div *ngIf="show && availableResource.length > 0">
            <div *ngFor="let role of availableResource">
              <mat-checkbox [checked]="role.isSelected" (change)="changeRole(role.name)">
                <span>{{ role.name }}</span> </mat-checkbox>
            </div>
          </div> -->
          <div class="form-group col-12" *ngIf="buttonClicked === 'editResource'">
            <div>
              <label class="font-weight-bolder" for="">Select resource to edit
              </label>
            </div>
            <div class="mb-3">
              <div *ngIf="show && availableResource.length > 0">
                <!-- <div *ngFor="let res of availableResource">
                  <mat-checkbox [checked]="res.isSelected" (change)="changeResourceName(res.name)">
                    <span>{{ res.name }}</span> </mat-checkbox>
                </div> -->
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                  <mat-radio-button class="example-radio-button" *ngFor="let res of availableResource" [value]="res.name" (change)="changeResourceName(res.name)">
                    {{res.name}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              
            </div>
          </div>
        </div>

        <div>
          <form [formGroup]="resourceForm">
            <div class="form-row px-4">
              <div class="form-group col-12 mb-5 pb-3" *ngIf="buttonClicked === 'createResource' || buttonClicked === 'editResource'">
                <h3 class="p-0 m-0">Resource Name </h3>
                <!-- <small>To create a role: Enter the name of the role here, then go to the permissions column and select
                  permissions for the role. Once done click the create button at the bottom</small> -->
                <input type="text" class="mt-3 form-control" placeholder="Resource Name" [(ngModel)]="resourceName"
                  name="resourceName" [ngModelOptions]="{ standalone: true }" />
                  <div class="mt-2">
                    <button (click)="submitResource(buttonClicked)" class="btn btn-success btn-sm">
                      Submit
                    </button>
                  </div>
              </div>
              

              <!-- <div class="form-group col-12" *ngIf="buttonClicked === 'edit'">
                <div>
                  <label class="font-weight-bolder" for="">Select resource to edit
                  </label>
                </div>
                <div class="mb-3">
                  <select class="form-control" class="browser-default custom-select" formControlName="selectedRole"
                    (change)="selectedRole()">
                    <option *ngFor="let role of availableResource" [ngValue]="role">{{
                        role.name
                      }}</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group col-12" *ngIf="buttonClicked === 'deleteResource'">
                <div>
                  <label class="font-weight-bolder" for="">Select resource to delete
                  </label>
                </div>
                <div class="mb-3">
                  <select class="form-control" class="browser-default custom-select" 
                    (change)="selectedResource($event.target.value)">
                    <option [ngValue]="undefined">Select Resource </option>
                    <option *ngFor="let resource of availableResource" [value]="resource.name">
                      {{resource.name}}
                    </option>
                  </select>
                </div>
                <div>
                  <div>
                    <label class="font-weight-bold" for="">Selected Resource
                    </label>
                  </div>
                  <div>
                    <input disabled type="text" class="form-control" [(ngModel)]="resourceName" name="roleName"
                      [ngModelOptions]="{ standalone: true }" />
                  </div>
                  <div class="mt-2">
                    <button (click)="deleteResource()" class="btn btn-danger btn-sm" [disabled]="resourceName == ''">
                      Confirm Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>








    
    <div class="col-12 col-md-3">
      <div class="card  m-2">
        <div class="text-center mt-4">
          <h1>ROLES</h1>
          <p class="lead">Create, Edit and Delete Role(s)</p>
        </div>

        <div class="my-3 d-flex justify-content-center">
          <button (click)="handleButtonClicked('create')" type="button" class="btn btn-sm text-white accion m-1">
            Create role
          </button>
          <button (click)="getRoles('update')" *ngIf="availableRoles && availableRoles.length > 0" type="button"
            class="btn btn-sm text-white accion_sand m-1">
            Update role
          </button>
          <button (click)="getRoles('delete')" *ngIf="availableRoles && availableRoles.length > 0" type="button"
            class="btn btn-sm text-white accion_stone m-1">
            Delete role
          </button>
        </div>

        <div class="mb-3 p-3" *ngIf="buttonClicked === 'create'">
          <div class="mb-2">
            <div class="lead">Available roles</div>
          </div>

          <div *ngIf="!availableRoles">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <!-- <div *ngIf="availableRoles && availableRoles.length === 0"> -->
          <div *ngIf="!availableRoles">
              <div>You are yet to create a role</div>
          </div>

          <div *ngIf="availableRoles && availableRoles.length > 0">
            <!-- <div *ngFor="let role of availableRoles; let i = index">
              <mat-checkbox [checked]="role.isSelected" (change)="changeRole(role.name, 'edit')">
                <span>{{ role.name }}</span> </mat-checkbox>
            </div> -->
            <div >
              <small>select role to edit. Once done click the edit icon by the side</small>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let role of availableRoles; let i = index" [value]="role.name" (change)="changeRole(role, 'edit', $event)">
                  {{role.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div >
          <form [formGroup]="roleForm">
            <div class="form-row px-4">
              <div class="form-group col-12 mb-5 pb-3" *ngIf="buttonClicked === 'create'">
                <h3 class="p-0 m-0">Role Name </h3>
                <small>To create a role: Enter the name of the role here, then go to the permissions column and select
                  permissions for the role. Once done click the create button at the bottom</small>
                <input type="text" class="mt-3 form-control" placeholder="New Role Name" [(ngModel)]="roleName"
                  name="roleName" [ngModelOptions]="{ standalone: true }" />
              </div>

              <div class="form-group col-12" *ngIf="buttonClicked === 'update'">
                <div>
                  <label class="font-weight-bolder" for="">Select role to Update
                  </label>
                </div>
                <div class="mb-3">
                  <select class="form-control" class="browser-default custom-select" formControlName="selectedRole"
                    (change)="changeRole(role, 'update', $event.target.value)">
                    <option [ngValue]="undefined">Select Role </option>
                    <option *ngFor="let role of availableRoles" [value]="role.name">{{
                        role.name
                      }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-12" *ngIf="buttonClicked === 'delete'">
                <div>
                  <label class="font-weight-bolder" for="">Select Role to delete
                  </label>
                </div>
                <div class="mb-3">
                  <select class="form-control" class="browser-default custom-select" formControlName="selectedRole"
                    (change)="selectRole($event.target.value)">
                    <option *ngFor="let role of availableRoles" [value]="role.name">{{
                        role.name
                      }}</option>
                  </select>
                </div>
                <div>
                  <div>
                    <label class="font-weight-bold" for="">Selected Role
                    </label>
                  </div>
                  <div>
                    <input disabled type="text" class="form-control" [(ngModel)]="roleName" name="roleName"
                      [ngModelOptions]="{ standalone: true }" />
                  </div>
                  <div class="mt-2">
                    <button *ngIf="isActive && roleName" (click)="deleteRole()" class="btn btn-danger btn-sm"
                      [disabled]="roleName == ''">
                      Disable
                    </button>&nbsp;
                    <button *ngIf="!isActive && roleName" (click)="deleteRole()" class="btn btn-danger btn-sm"
                      [disabled]="roleName == ''">
                      Enable
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <form class="card  m-2 p-3">
        <div>
          <div class="text-center mt-2">
            <h1>PERMISSIONS</h1>
            <div class="lead">
              Select permissions for role
            </div>
          </div>
          <!-- <div class="mt-4">
            <mat-checkbox [checked]="isAll" (change)="selectCheck('all', $event)" [disabled]="isAssign">
              <span>Select all permissions</span>
            </mat-checkbox>
          </div> -->

          <div class="mb-4">
            <div class="row" *ngFor="let perm of resPerm;let i = index;">
              <div class="col-3">
                <mat-checkbox [disabled]="isAssign" [checked]="perm.checked" class=" m-1"
                  (change)="selectMenu(perm.name, $event, i)">
                  {{ perm.name }}
                </mat-checkbox>

              </div>
              <div class="col-2"></div>
              <div *ngFor="let a of perm.permissions;let j = index;">
                <mat-checkbox [disabled]="isAssign" [checked]="a.checked" class=" m-1"
                  (change)="selectPermission(perm.permissions, a.name, $event, i)">
                  {{a.name}}
                </mat-checkbox>
              </div>
              <div>
                
                <span *ngIf="buttonClicked === 'delete'" class="cursor_pointer" (click)="deleteResource(perm)">
                  <mat-icon>delete</mat-icon>
                </span>
                <span *ngIf="buttonClicked === 'update' " class="cursor_pointer" (click)="updateRolePermission(perm)">
                  <mat-icon>update</mat-icon>
                </span>
                <span *ngIf="buttonClicked === 'edit'" class="cursor_pointer" (click)="editRoleResourcePerm('edit', i, perm)">
                  <mat-icon>edit</mat-icon>
                </span>
                
<!-- <button *ngIf="buttonClicked === 'edit'" type="submit" class="btn btn-sm text-white accion m-1"
                  (click)="editRoleResourcePerm('edit', i, perm)">
                  Edit
                </button> -->
                <!-- <button *ngIf="buttonClicked === 'update'" type="submit" class="btn btn-sm text-white accion m-1"
                  (click)="editRoleResourcePerm('edit', i, perm)">
                  DIsable
                </button> -->
                <!-- <button *ngIf="buttonClicked === 'update'" type="submit" class="btn btn-sm text-white accion m-1"
                  (click)="editRoleResourcePerm('edit', i, perm)">
                  Enable
                </button>
                <button *ngIf="buttonClicked === 'update'" type="submit" class="btn btn-sm text-white accion m-1"
                  (click)="editRoleResourcePerm('edit', i, perm)">
                  Update
                </button> -->
              </div>
            </div>
          </div>

          <div class="m-3" *ngIf="!isAssign">
            <button *ngIf="buttonClicked === 'create'" type="submit" class="btn btn-sm text-white accion m-1" [disabled]="hide"
              (click)="createNewRole()">
              Create Role
            </button>
            <!-- <button *ngIf="buttonClicked === 'create'" type="submit" class="btn btn-sm text-white accion m-1"
              (click)="checkValues('create')">
              Create Role
            </button> -->
            <button type="submit" class="btn btn-sm text-white accion_sand m-1" *ngIf="buttonClicked === 'update'"
              (click)="updateRolePermission()">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>

</section>


<!-- (change)="changeUser($event.target)" -->
