th {
    font-weight: 500;
    color: #635b4c;
    text-transform: capitalize;
    text-align: center;

}

.text_start{
    text-align: start !important;
}

.text-capitalize {
    color: blue;
}

td {
    text-align: center;
    color: blue;
}

h3 {
    font-weight: 500;
}

.font-weight-500 {
    font-weight: 500;
    font-size: 15px;
}